## Introduction to Spark DataFrame

#### In Apache Spark: 
* **_DataFrame_** is a distributed collection of rows, where each column is named.
* Similar to relational table, Python Pandas object, R dataframe, or Excel sheet with column headers.

#### Similar to RDD:
* Immuatable: DataFrames cannot be changed, only be transformed.
* Lazy evaluation: Task is not executed until an *action* kicks in.
* Distributed:Rows and columns are distributed. 

#### Different from RDD:
* DataFrame is designed to process structured data.
* Query optimization becomes possible.

### RDD vs DataFrame
<img src="./images/rdd_vs_dataframe.jpg" width="600" height="400" />

#### Howe to create a DataFrame:
* Loading data from a file of various formats: JSON, CSV, XML, ...
* Loading data from existing RDD (kind of transformation)
* Loading data from various databases

It can be created using different data formats. For example, loading the data from JSON, CSV.
Loading data from Existing RDD.
Programmatically specifying schema

<img src="./images/DataFrame-in-Spark.png" width="600" height="400" />

#### Example: Loading a csv file to DataFrame

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("DataFrame Intro") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

sc = spark.sparkContext

In [3]:
dividends = spark.read.load('data/NYSE_dividends_A.csv', format='csv', header=True, inferSchema=True)
dividends.show(10)
dividends.printSchema()

+--------+------------+-------------------+---------+
|exchange|stock_symbol|               date|dividends|
+--------+------------+-------------------+---------+
|    NYSE|         AIT|2009-11-12 00:00:00|     0.15|
|    NYSE|         AIT|2009-08-12 00:00:00|     0.15|
|    NYSE|         AIT|2009-05-13 00:00:00|     0.15|
|    NYSE|         AIT|2009-02-11 00:00:00|     0.15|
|    NYSE|         AIT|2008-11-12 00:00:00|     0.15|
|    NYSE|         AIT|2008-08-13 00:00:00|     0.15|
|    NYSE|         AIT|2008-05-13 00:00:00|     0.15|
|    NYSE|         AIT|2008-02-13 00:00:00|     0.15|
|    NYSE|         AIT|2007-11-13 00:00:00|     0.15|
|    NYSE|         AIT|2007-08-13 00:00:00|     0.15|
+--------+------------+-------------------+---------+
only showing top 10 rows

root
 |-- exchange: string (nullable = true)
 |-- stock_symbol: string (nullable = true)
 |-- date: timestamp (nullable = true)
 |-- dividends: double (nullable = true)

In [4]:
dailyPrices= spark.read.load('data/NYSE_daily_prices_A.csv', format='csv', header=True, inferSchema=True)
dailyPrices.show(5)

+--------+------------+-------------------+----------------+----------------+---------------+-----------------+------------+---------------------+
|exchange|stock_symbol|               date|stock_price_open|stock_price_high|stock_price_low|stock_price_close|stock_volume|stock_price_adj_close|
+--------+------------+-------------------+----------------+----------------+---------------+-----------------+------------+---------------------+
|    NYSE|         AEA|2010-02-08 00:00:00|            4.42|            4.42|           4.21|             4.24|      205500|                 4.24|
|    NYSE|         AEA|2010-02-05 00:00:00|            4.42|            4.54|           4.22|             4.41|      194300|                 4.41|
|    NYSE|         AEA|2010-02-04 00:00:00|            4.55|            4.69|           4.39|             4.42|      233800|                 4.42|
|    NYSE|         AEA|2010-02-03 00:00:00|            4.65|            4.69|            4.5|             4.55|      182100|                 4.55|
|    NYSE|         AEA|2010-02-02 00:00:00|            4.74|             5.0|           4.62|             4.66|      222700|                 4.66|
+--------+------------+-------------------+----------------+----------------+---------------+-----------------+------------+---------------------+
only showing top 5 rows

### DataFrame Manipulation

You can manipulation a DataFrame in two ways:
1. Using functions of DataFrame
2. Using SQL after creating/registering a table/view

#### How to Count the number of rows, columns in DataFrame?

In [5]:
dividends.count(), dailyPrices.count()

(8719, 735026)

#### Basic statistics (mean, standard deviance, min ,max , count) of numerical columns

In [7]:
dividends.describe('dividends').show()

+-------+-------------------+
|summary|          dividends|
+-------+-------------------+
|  count|               8719|
|   mean|0.22300571957793303|
| stddev| 0.6983857030438609|
|    min|                0.0|
|    max|             34.958|
+-------+-------------------+

### Basic transformations of DataFrame

1. _select_
2. _filter_
3. _withColumn_
4. _groupBy_
5. _agg_
6. _orderBy_
7. _join_

#### Select column(s) from a DataFrame

In [10]:
dividends.select(['stock_symbol', 'dividends']).show(10)

+------------+---------+
|stock_symbol|dividends|
+------------+---------+
|         AIT|     0.15|
|         AIT|     0.15|
|         AIT|     0.15|
|         AIT|     0.15|
|         AIT|     0.15|
|         AIT|     0.15|
|         AIT|     0.15|
|         AIT|     0.15|
|         AIT|     0.15|
|         AIT|     0.15|
+------------+---------+
only showing top 10 rows

#### Filter the rows

In [11]:
dailyPrices.filter(dailyPrices.stock_price_close> 200).show()
# equivalentaly
#dailyPrices.filter(dailyPrices['stock_price_close'] > 200).show()
#dailyPrices.filter("stock_price_close > 200").show()

+--------+------------+-------------------+----------------+----------------+---------------+-----------------+------------+---------------------+
|exchange|stock_symbol|               date|stock_price_open|stock_price_high|stock_price_low|stock_price_close|stock_volume|stock_price_adj_close|
+--------+------------+-------------------+----------------+----------------+---------------+-----------------+------------+---------------------+
|    NYSE|         ALX|2010-02-08 00:00:00|          280.05|           280.7|         272.74|           273.24|        4000|               273.24|
|    NYSE|         ALX|2010-02-05 00:00:00|           272.7|          281.32|         272.01|           281.32|       11400|               281.32|
|    NYSE|         ALX|2010-02-04 00:00:00|          278.06|          278.06|         271.55|           271.77|        5300|               271.77|
|    NYSE|         ALX|2010-02-03 00:00:00|          287.73|          287.73|         278.55|           280.06|        6800|               280.06|
|    NYSE|         ALX|2010-02-02 00:00:00|           294.0|          296.81|         286.97|           287.75|        7000|               287.75|
|    NYSE|         ALX|2010-02-01 00:00:00|           293.0|           295.0|         292.59|           294.82|        3500|               294.82|
|    NYSE|         ALX|2010-01-29 00:00:00|          291.34|           295.0|         290.54|           292.29|       10300|               292.29|
|    NYSE|         ALX|2010-01-28 00:00:00|          290.97|          291.81|         286.35|           289.95|        6100|               289.95|
|    NYSE|         ALX|2010-01-27 00:00:00|          283.58|          291.55|         281.35|           289.34|        3700|               289.34|
|    NYSE|         ALX|2010-01-26 00:00:00|          284.99|          288.88|          284.0|           286.05|       10300|               286.05|
|    NYSE|         ALX|2010-01-25 00:00:00|          286.99|           289.7|          279.8|            286.4|        6600|                286.4|
|    NYSE|         ALX|2010-01-22 00:00:00|          293.56|          295.59|          282.0|            285.7|       10800|                285.7|
|    NYSE|         ALX|2010-01-21 00:00:00|          300.06|          300.06|         292.17|           293.56|       13700|               293.56|
|    NYSE|         ALX|2010-01-20 00:00:00|          302.82|          302.82|         297.81|            299.0|        5400|                299.0|
|    NYSE|         ALX|2010-01-19 00:00:00|           300.5|          304.28|         298.98|           304.28|        6700|               304.28|
|    NYSE|         ALX|2010-01-15 00:00:00|          305.38|          306.77|         299.89|           300.98|        6100|               300.98|
|    NYSE|         ALX|2010-01-14 00:00:00|           305.0|          306.74|         302.76|           303.54|        2800|               303.54|
|    NYSE|         ALX|2010-01-13 00:00:00|           302.7|          306.61|         297.06|           304.75|        6800|               304.75|
|    NYSE|         ALX|2010-01-12 00:00:00|           291.7|          303.02|          289.0|           300.72|       21300|               300.72|
|    NYSE|         ALX|2010-01-11 00:00:00|          307.35|          307.35|          291.7|           291.71|       11800|               291.71|
+--------+------------+-------------------+----------------+----------------+---------------+-----------------+------------+---------------------+
only showing top 20 rows

#### Select and Filter

In [12]:
dailyPrices.select('stock_symbol', 'stock_price_close').filter(dailyPrices.stock_price_close> 200).show()

+------------+-----------------+
|stock_symbol|stock_price_close|
+------------+-----------------+
|         ALX|           273.24|
|         ALX|           281.32|
|         ALX|           271.77|
|         ALX|           280.06|
|         ALX|           287.75|
|         ALX|           294.82|
|         ALX|           292.29|
|         ALX|           289.95|
|         ALX|           289.34|
|         ALX|           286.05|
|         ALX|            286.4|
|         ALX|            285.7|
|         ALX|           293.56|
|         ALX|            299.0|
|         ALX|           304.28|
|         ALX|           300.98|
|         ALX|           303.54|
|         ALX|           304.75|
|         ALX|           300.72|
|         ALX|           291.71|
+------------+-----------------+
only showing top 20 rows

#### Mutate by withColumn

In [13]:
augmented = dailyPrices.withColumn('difference', dailyPrices.stock_price_close - dailyPrices.stock_price_open)
augmented.show()

+--------+------------+-------------------+----------------+----------------+---------------+-----------------+------------+---------------------+--------------------+
|exchange|stock_symbol|               date|stock_price_open|stock_price_high|stock_price_low|stock_price_close|stock_volume|stock_price_adj_close|          difference|
+--------+------------+-------------------+----------------+----------------+---------------+-----------------+------------+---------------------+--------------------+
|    NYSE|         AEA|2010-02-08 00:00:00|            4.42|            4.42|           4.21|             4.24|      205500|                 4.24|-0.17999999999999972|
|    NYSE|         AEA|2010-02-05 00:00:00|            4.42|            4.54|           4.22|             4.41|      194300|                 4.41|-0.00999999999999...|
|    NYSE|         AEA|2010-02-04 00:00:00|            4.55|            4.69|           4.39|             4.42|      233800|                 4.42| -0.1299999999999999|
|    NYSE|         AEA|2010-02-03 00:00:00|            4.65|            4.69|            4.5|             4.55|      182100|                 4.55|-0.10000000000000053|
|    NYSE|         AEA|2010-02-02 00:00:00|            4.74|             5.0|           4.62|             4.66|      222700|                 4.66|-0.08000000000000007|
|    NYSE|         AEA|2010-02-01 00:00:00|            4.84|            4.92|           4.68|             4.75|      194800|                 4.75|-0.08999999999999986|
|    NYSE|         AEA|2010-01-29 00:00:00|            4.97|            5.05|           4.76|             4.83|      222900|                 4.83|-0.13999999999999968|
|    NYSE|         AEA|2010-01-28 00:00:00|            5.12|            5.22|           4.81|             4.98|      283100|                 4.98|-0.13999999999999968|
|    NYSE|         AEA|2010-01-27 00:00:00|            4.82|            5.16|           4.79|             5.09|      243500|                 5.09|  0.2699999999999996|
|    NYSE|         AEA|2010-01-26 00:00:00|            5.18|            5.18|           4.81|             4.84|      554800|                 4.84|-0.33999999999999986|
|    NYSE|         AEA|2010-01-25 00:00:00|            5.42|            5.48|            5.2|             5.22|      257300|                 5.22|-0.20000000000000018|
|    NYSE|         AEA|2010-01-22 00:00:00|            5.52|            5.59|           5.31|             5.37|      260800|                 5.37|-0.14999999999999947|
|    NYSE|         AEA|2010-01-21 00:00:00|            5.67|            5.74|           5.37|             5.51|      264300|                 5.51|-0.16000000000000014|
|    NYSE|         AEA|2010-01-20 00:00:00|            5.65|             5.7|           5.53|             5.66|      244600|                 5.66|0.009999999999999787|
|    NYSE|         AEA|2010-01-19 00:00:00|            5.54|             5.7|           5.54|             5.69|      368000|                 5.69| 0.15000000000000036|
|    NYSE|         AEA|2010-01-15 00:00:00|            5.48|            5.55|           5.33|             5.54|      435500|                 5.54| 0.05999999999999961|
|    NYSE|         AEA|2010-01-14 00:00:00|            5.41|             5.5|           5.39|             5.41|      272200|                 5.41|                 0.0|
|    NYSE|         AEA|2010-01-13 00:00:00|             5.5|             5.5|           5.41|             5.45|      176400|                 5.45|-0.04999999999999982|
|    NYSE|         AEA|2010-01-12 00:00:00|            5.47|            5.51|           5.41|             5.46|      233100|                 5.46|-0.00999999999999...|
|    NYSE|         AEA|2010-01-11 00:00:00|            5.64|            5.64|           5.49|             5.55|      178900|                 5.55|-0.08999999999999986|
+--------+------------+-------------------+----------------+----------------+---------------+-----------------+------------+---------------------+--------------------+
only showing top 20 rows

#### GroupBy, Aggregate, and OrderBy

In [16]:
dailyPrices.groupBy('stock_symbol').agg({'stock_price_close': 'max'}).orderBy('max(stock_price_close)', ascending=False).show(10)

+------------+----------------------+
|stock_symbol|max(stock_price_close)|
+------------+----------------------+
|         ALX|                467.25|
|         ADI|                182.62|
|         ACL|                175.47|
|         AXP|                 169.0|
|         AZO|                166.82|
|         AIG|                 156.5|
|         AET|                153.93|
|         AVB|                148.52|
|         AEG|                147.58|
|         APA|                 146.8|
+------------+----------------------+
only showing top 10 rows

In [19]:
joined_df = dailyPrices.join(dividends, ['stock_symbol', 'date'], 'inner').select('stock_symbol','date', 'stock_price_close', 'dividends')

In [20]:
joined_df.show(10)

+------------+-------------------+-----------------+---------+
|stock_symbol|               date|stock_price_close|dividends|
+------------+-------------------+-----------------+---------+
|         AEA|2009-11-20 00:00:00|             6.24|    0.063|
|         AEA|2009-08-21 00:00:00|              5.9|    0.063|
|         AEA|2009-05-21 00:00:00|             4.35|    0.063|
|         AEA|2009-02-20 00:00:00|             1.01|    0.063|
|         AEA|2008-11-21 00:00:00|              1.5|    0.063|
|         AEA|2008-08-22 00:00:00|             4.94|    0.125|
|         AEA|2008-05-22 00:00:00|             6.99|    0.125|
|         AEA|2008-02-22 00:00:00|             7.07|    0.125|
|         AEA|2007-11-23 00:00:00|             8.37|    0.125|
|         AEA|2007-08-24 00:00:00|            12.86|    0.125|
+------------+-------------------+-----------------+---------+
only showing top 10 rows

In [ ]:
#df = df1.join(df2.withColumnRenamed('y1','x1').withColumnRenamed('y2','x2'), ['x1','x2'])

### Running SQL Queries

The *sql* function enables applications to run SQL queries and returns the result as a DataFrame.

* Global Temporary View

In [21]:
dailyPrices.createOrReplaceTempView('daily_prices')
dividends.createOrReplaceTempView('dividends')

In [23]:
price_result = spark.sql('SELECT * FROM daily_prices LIMIT 10')
price_result.show(10)



#result.filter(result['stock_price_close'] > 2).show()
#result_1 = result.rdd.map(lambda row: (row,1)).toDF()
#result_1.show()

+--------+------------+-------------------+----------------+----------------+---------------+-----------------+------------+---------------------+
|exchange|stock_symbol|               date|stock_price_open|stock_price_high|stock_price_low|stock_price_close|stock_volume|stock_price_adj_close|
+--------+------------+-------------------+----------------+----------------+---------------+-----------------+------------+---------------------+
|    NYSE|         AEA|2010-02-08 00:00:00|            4.42|            4.42|           4.21|             4.24|      205500|                 4.24|
|    NYSE|         AEA|2010-02-05 00:00:00|            4.42|            4.54|           4.22|             4.41|      194300|                 4.41|
|    NYSE|         AEA|2010-02-04 00:00:00|            4.55|            4.69|           4.39|             4.42|      233800|                 4.42|
|    NYSE|         AEA|2010-02-03 00:00:00|            4.65|            4.69|            4.5|             4.55|      182100|                 4.55|
|    NYSE|         AEA|2010-02-02 00:00:00|            4.74|             5.0|           4.62|             4.66|      222700|                 4.66|
|    NYSE|         AEA|2010-02-01 00:00:00|            4.84|            4.92|           4.68|             4.75|      194800|                 4.75|
|    NYSE|         AEA|2010-01-29 00:00:00|            4.97|            5.05|           4.76|             4.83|      222900|                 4.83|
|    NYSE|         AEA|2010-01-28 00:00:00|            5.12|            5.22|           4.81|             4.98|      283100|                 4.98|
|    NYSE|         AEA|2010-01-27 00:00:00|            4.82|            5.16|           4.79|             5.09|      243500|                 5.09|
|    NYSE|         AEA|2010-01-26 00:00:00|            5.18|            5.18|           4.81|             4.84|      554800|                 4.84|
+--------+------------+-------------------+----------------+----------------+---------------+-----------------+------------+---------------------+

In [ ]:
dividend_result = spark.sql('SELECT * FROM dividends')
dividend_result.show()

#### Join on two views
* List the closing prices when companies paid dividends

In [ ]:
join = spark.sql('''SELECT div.exchange, div.stock_symbol, div.date, div.dividends,
prices.stock_price_close  FROM dividends div INNER JOIN daily_prices prices
ON(div.stock_symbol=prices.stock_symbol AND div.date=prices.date) LIMIT 10''')
join.show()

##### Join and GroupBy 
* What are the maximum, minimum, and average closing procies at the time of dividends

In [ ]:
join_group = spark.sql('''SELECT div.stock_symbol, max(prices.stock_price_close) as max_close FROM dividends div 
INNER JOIN daily_prices prices ON(div.stock_symbol=prices.stock_symbol AND div.date=prices.date)
GROUP BY div.stock_symbol LIMIT 10''')
join_group.show()

In [ ]:
join_group_agg = spark.sql('''SELECT div.stock_symbol, max(prices.stock_price_close) maximum,
min(prices.stock_price_close) minimum, avg(prices.stock_price_close) average FROM dividends div 
INNER JOIN daily_prices prices ON(div.stock_symbol=prices.stock_symbol AND div.date=prices.date) 
GROUP BY div.stock_symbol LIMIT 10''')
join_group_agg.show()

In [ ]:
result = join_group_agg.collect()

In [ ]:
for item in result:
    print(item)